/* Topmost parent */
.BaseHud
{
    width: 100%;
    height: 100%;
}

#DebugMenu
{
    align: left middle;
    margin-left: 2%;
    max-width: 200px;
    max-height: 600px;
    flow-children: down-wrap;
    background-color: #dddddd;
    border: 1px solid black;
    border-radius: 1px;
    opacity: 0.9;
    padding-bottom: 10px;
}

.DebugButtonContainer
{
    margin: 10px;
    margin-bottom: 0px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: #8888aa;
    transition: brightness 0.3s linear 0s;
}

.DebugButtonContainer:Hover
{
    brightness: 1.5;
}

#DebugButton
{
    width: 100%;
    height: 100%;
}

#DebugLabel
{
    align: middle middle;
    text-align: center;
    color: black;
    text-shadow: 0px 0px 2.0 4px white;
    font-size: 11px;
}