.TeamSelect
{
    width: 40%;
    height: 70%;
    align: right middle;
    margin-bottom: 20%;
    margin-right: 1%;
    background-color: #17171Cbb;
}

#TeamSelectContainer
{
  width: 100%;
  height: 100%;
  flow-children: right;
}

#TeamsBG
{
  height: 100%;
  width:  100%;
  flow-children: down-wrap;
}

#TeamsBG #Header
{
  height: 40px;
  width:  100%;
  margin-bottom: 20px;
  background-size: 100% 100%; // image fills the panel
}

#TeamsBG #Footer
{
  height: 15%;
  width:  100%;
  background-size: 100% 100%; // image fills the panel
  align: middle bottom;
}

#TeamsBG #Mid
{
  height: 78%;
  width:  100%;
  background-size: 100% 100%; // image fills the panel
}

#TeamsList
{
  width: 50%;
  height: 98%;
  margin-left: 0px;
  vertical-align: middle;
  horizontal-align: left;
  border-radius: 2px;
  background-color: #23232abb;
  box-shadow: 0px 2px 6px #0000007a;
  border: 1px solid #045d56;
  margin-left: 4px;
  margin-right: 4px;
}

@keyframes 'TeamsListAppear'
{
	0%
	{
		transform: translatex( 100% );
	}

	100%
	{
		transform: translatex( 0px );
	}
}
#NormalGame Label
{
  margin-left: 135px;
}

#TeamsListGroup
{
    vertical-align: top;
    margin-top: 20px;
    height: 100%;
    flow-children: down;
}

#TeamListHeader
{
    width: 100%;
    text-align: center;
    color: #1eb980;
    text-shadow: 0px 0px 2px 1.0 #000000;
    font-size: 24px;
    horizontal-align:center;
    margin-top: 4px;
}

#TeamListHeaderLabel
{
    width: 100%;
    text-align: center;
    color: #1eb980;
    text-shadow: 0px 0px 2px 1.0 #000000;
    font-size: 24px;
    horizontal-align:center;
    margin-top: 4px;
}

#TeamListLockedIcon
{
    visibility: collapse;
}

.teams_locked #TeamListLockedIcon
{
    visibility: collapse;
}

#TeamsListRoot
{
  height: 100%;
	width: 100%;
  flow-children: down;
  overflow: clip scroll;
}

#ShuffleTeamAssignmentButton,
#LockAndStartButton,
#CancelAndUnlockButton,
#AutoAssignButton,
.player_has_host_privileges.teams_locked #LockAndStartButton
{
  visibility: collapse;
}

.player_has_host_privileges #ShuffleTeamAssignmentButton,
.player_has_host_privileges #LockAndStartButton,
.player_has_host_privileges.teams_locked #CancelAndUnlockButton,
.player_has_host_privileges #AutoAssignButton
{
  visibility: visible;
}

#ShuffleTeamAssignmentButton
{
    width: 50%;
    height: 70px;
    margin: 10px;
    border-radius: 4px;
    align: middle bottom;
    border: 2px solid black;
    background-color: #247d7644;

}

#ShuffleTeamAssignmentButton Label
{
    align: middle middle;
    color: #EEEEEE;
    font-size: 16px;

}

#ShuffleTeamAssignmentButton:Hover
{
    box-shadow: 0px 0px 6px #449d96;
}

#ShuffleTeamAssignmentButton:active
{
	sound: "ui_team_select_shuffle";
}

#ShuffleTeamAssignmentButton Image
{
    width: 24px;
	height: 24px;
	wash-color: #888888;
    vertical-align: center;
}

#ShuffleTeamAssignmentButton:hover Image
{
	wash-color: white;
}

#GameAndPlayersRoot
{
  width: 40%;
  height: 98%;
  align: right middle;
  flow-children: down;
  border-radius: 2px;
  box-shadow: 0px 2px 6px #0000007a;
  background-color: #23232abb;
  border: 1px solid #045d56;
  margin-left: 4px;
  margin-right: 4px;

}

#GameInfoPanel
{
    margin: 8px;
    margin-bottom: -4px;
    width: 100%;
    flow-children: down;
}

#GameModeNameLabel
{
    font-size: 32px;
	text-transform: uppercase;
}

#MapInfoLabel
{
    color: #1eb980;
    text-shadow: 0px 0px 2px 1.0 #000000;
    font-size: 24px;
    margin: 4px;
    margin-top: 12px;
    text-transform: uppercase;
}

#StartGameCountdownTimer
{
  height: 80px;
  align: middle top;

}

#TeamSelectTimer
{
    horizontal-align: middle;
    width: 105px;
    height: 85px;
    border: 2px solid #449d96;
    background-color: #2D2D36ee;
    border-radius: 4px;
    font-size: 44px;
    color:#fff;
    margin: 8px 0px 0px 2px;
    text-shadow: 0px 0px 3px 2.0 #000;
    text-align: center;
    padding-top: 10px;
}

.teams_locked #TeamSelectTimer
{

    border: 2px solid #ad6666;
    background-color: #9d4444;
}

#StartGameCountdownTimer.countdown_inactive #TeamSelectTimer
{
  color: #666;
}

#TimerBg
{
	wash-color: #222222;
}

#TimerBg,
#TimerRing
{
	width: 70px;
	height: 70px;
	margin-top: 2px;
  opacity: 0.0;
  border: 2px solid pink;
  border-radius: 100px;
}

#TimerLabelBox
{
	margin-top: 76px;
    height: 20px;
    width: 100%;
    opacity: 0.0;
}

#TimerLabelAutoStart
{
    color: #a9aaaa;
    font-size: 16px;
	text-transform: uppercase;
	horizontal-align: center;
    visibility: collapse;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#StartGameCountdownTimer.auto_start #TimerLabelAutoStart
{
    visibility: visible;
}

#TimerLabelGameStart
{
    color: #a9aaaa;
    font-size: 16px;
	text-transform: uppercase;
	horizontal-align: center;
    visibility: collapse;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#StartGameCountdownTimer.forced_start #TimerLabelGameStart
{
    visibility: visible;
}


#StartGameCountdownTimer.countdown_inactive #TimerBg,
#StartGameCountdownTimer.countdown_inactive #TimerRing,
#StartGameCountdownTimer.countdown_inactive #TimerLabelAutoStart,
#StartGameCountdownTimer.countdown_inactive #TimerLabelGameStart,
{
    opacity: 0;
}


#UnassignedPlayerPanel
{
    width: 100%;
	height: fill-parent-flow (1);
    flow-children: down;
	margin: 4px;
  align: middle middle;
}

#UnassignedPlayersButton
{
    flow-children: down;
	height: fill-parent-flow (1);
	width: 100%;
  border: 2px solid black;
  margin: 12px;
  background-color: #247d7622;
}

#UnassignedPlayersButton:Hover
{
    box-shadow: 0px 0px 6px #449d96;
}

#UnassignedPlayersHeader
{
    horizontal-align: left;
	margin-top: 0px;
	margin-left: 0px;
}

#UnassignedPlayersHeader Label
{

    font-size: 14px;
    margin-left: 35px;
    margin-top: 8px;
	letter-spacing: 1px;
	color: #FFF;
    text-transform: uppercase;

    transition-property: color;
	transition-duration: 0.2s;
}


#UnassignedPlayersButton:hover #UnassignedPlayersHeader Label
{
    font-size: 14px;
	letter-spacing: 1px;
	color: white;
}


#UnassignedPlayersDivider
{
    width: 100%;
	height: 2px;
    margin-left: 8px;
    margin-right: 8px;
	background-color: transparent;
}

#UnassignedPlayersContainer
{
	width: 100%;
    flow-children: down;
    overflow: clip scroll;
	margin: 16px;
  margin-top: 38px;
}

#AutoAssignButton
{
    height: 32px;
    width: 70%;
    margin: 4px;
    border-radius: 4px;
    align: middle bottom;
    border: 2px solid black;
    background-color: #247d7644;
    visibility: collapse;
    flow-children: right;
}

#AutoAssignButton:Hover
{
    box-shadow: 0px 0px 6px #449d96;
}

#AutoAssignButton Label
{
    font-size: 16px;
	  text-transform: uppercase;
    margin-top: 5px;
    text-align: center;
    margin-left: 5px;
    color: #FFF;

}

.unassigned_players #AutoAssignButton:hover Label
{
	color: white;
}

.unassigned_players #AutoAssignButton:active
{
	sound: "ui_team_select_auto_assign";
}

#AutoAssignButton Image
{
  width: 16px;
	height: 16px;
	wash-color: #FFF;
  margin-left: 38px;
    vertical-align: center;
    horizontal-align: center;
}

.unassigned_players #AutoAssignButton:hover Image
{
	wash-color: white;
}

#LockAndStartButton
{
    horizontal-align: center;
    margin-left: 0px;
    margin-bottom: 10px;
    background-color: #6064ad44;
    height: 65px;
    width: 70%;
    border: 2px solid black;
}

#LockAndStartButton:Hover
{
    box-shadow: 0px 0px 6px #8084cd;
}

.PlayButton
{
   box-shadow: none ;
  background-image: none;
}

.unassigned_players #LockAndStartButton
{

}

#LockAndStartButton Label
{
  width: 100%;
  height: 30px;
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  flow-children: down;
  font-size: 24px;
  color: white;
}

.unassigned_players #LockAndStartButton Label
{
    opacity: 0.9;
}

.teams_locked #LockAndStartButton
{
    visibility: collapse;
}

.no_unassigned_players #LockAndStartButton:hover
{

}

.no_unassigned_players #LockAndStartButton:active
{
    sound: "ui_team_select_lock_and_start";
}

#CancelAndUnlockButton
{
    visibility: collapse;
    horizontal-align: center;
    margin-left: 0px;
    margin-bottom: 10px;
    background-color: #9d4444;
    height: 65px;
    width: 70%;
    border: 2px solid black;
}

#CancelAndUnlockButton Label
{
  width: 100%;
  height: 30px;
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  flow-children: down;
  font-size: 24px;
  color: white;
}

#CancelAndUnlockButton:Hover
{

    box-shadow: #ad6666 0px 0px 4px 0px;
}

#CancelAndUnlockButton:active
{
	//sound: "ui_custom_lobby_quit";
    sound: "ui_team_select_cancel_and_lock";
}


#TeamSelectTeam
{
    background-color:transparent;
    box-shadow: none;
}

.TeamSelectTeam
{
    width: 80%;
    height: 50px;
    margin: 7px;
    align: middle top;
    border: 2px solid black;
}

.TeamSelectTeam .local_player_on_this_team
{
    box-shadow: none;
    //box-shadow: -3px -3px 12px 6px #FFFFFF88;
}

.local_player_on_this_team.TeamSelectTeam:hover
{
    //background-color: #272b30dd;
}

#TeamBackgroundGradient
{
    width: 100%;
    height: 100%;
    brightness: 15;
    transform: scale3d(2, 1, 1);
    transform-origin: 0% 50%;
}

#TeamBackgroundGradientHighlight
{
  brightness: 10;
    transform: scale3d(2, 1, 1);
    transform-origin: 0% 50%;
}

.teams_unlocked .TeamSelectTeam:hover #TeamBackgroundGradient
{
    visibility: collapse;
}

#TeamBackgroundGradientHighlight
{
    width: 100%;
    height: 100%;
    visibility: collapse;
}

.teams_unlocked .TeamSelectTeam:hover #TeamBackgroundGradientHighlight
{
    visibility: visible;
}

#TeamGroup
{
  height:100%;
  width: 100%;
  vertical-align: middle;
  horizontal-align: center;

  background-color: transparent;
  padding: 0px 8px;
  padding-top: -8px;
  flow-children: down;
}

#TeamHeader
{
    width: 100%;
    flow-children: right;
    height: 10px;
}

#TeamHeader Label
{
	font-size: 0px;
	vertical-align: top;
	text-shadow: 2px 2px 2px black;
   	margin-left: 1px;
    margin-top: 1px;
	text-transform: uppercase;
	white-space: nowrap;
	width: 100%;
  color: transparent;
  box-shadow: none;
}

.player_has_host_privileges #ShuffleTeamAssignmentButton,
.player_has_host_privileges #LockAndStartButton,
.player_has_host_privileges.teams_locked #CancelAndUnlockButton,
.player_has_host_privileges #AutoAssignButton
{
  visibility: visible;
}

#JoinTeamLabel
{
    color: #444444;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
    horizontal-align: right;
	vertical-align: center;
	margin-top: 4px;

	transition-property: color;
	transition-duration: 0.2s;
}

.teams_unlocked .TeamSelectTeam:hover #JoinTeamLabel
{
	color: white;
}

.TeamSelectTeam.team_is_full #JoinTeamLabel
{
    opacity: 0;
}

.TeamSelectTeam.local_player_on_this_team #JoinTeamLabel
{
    opacity: 0;
}

.TeamSelectTeam.local_player_is_ready #JoinTeamLabel
{
    opacity: 0;
}

#TeamPlayerDivider
{
	width: 100%;
    margin: 2px;
	height: 1px;
	background-color: none;

}

#PlayerList
{
    width: 100%;
    flow-children: down;
    width: 100%;
}

#player_root
{
	width: 100%;
}

.player_slot
{
    height: 32px;
    width: 100%;
    flow-children: right;
    margin-top: 2px;
}




.TeamSelectPlayer
{
    width: 100%;
    flow-children: right;
    vertical-align: middle;
    flow-children: right;
}

DOTAAvatarImage
{
    width: 32px;
    height: 32px;
    background-color: black;
	vertical-align:middle;
}

#PlayerIsHostPanel
{
    background-image: url( "file://{images}/icon_star.png");
    background-repeat: no-repeat;
    background-size: contain;
    overflow: noclip;
    width: 24px;
    height: 24px;
    visibility: collapse;
    margin-top: 2px;
    margin-right: -4px;
    margin-left: 8px;
    visibility: collapse;
}

.TeamSelectPlayer.player_has_host_privileges #PlayerIsHostPanel
{
    visibility: visible;
}

#PlayerName
{
	color: white;
	vertical-align:middle;
  margin: 3px;
  text-shadow: 2px 2px 2px black;
  width: fill-parent-flow( 1 );
	white-space: nowrap;
  font-size: 18px;
  margin-left: 12px;
}

#PlayerLeaveTeamButton
{
	width: 24px;
	height: 24px;
	wash-color: #aa0000ee;

	background-image: url("file://{images}/control_icons/x_close.png");
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin: 4px;

    visibility: collapse;
}

#PlayerLeaveTeamButton:hover
{
    wash-color: red;
}

.teams_unlocked .TeamSelectTeam .player_is_local #PlayerLeaveTeamButton
{
    visibility: visible;
}

.TeamSelectEmptySlot
{
    flow-children: right;
}

.TeamSelectEmptySlot #PlayerName
{
	color: #DDD;
	letter-spacing: 1px;
	font-size: 18px;
}

#EmptySlotIcon
{
    width: 32px;
	height: 32px;
    opacity: 0.7;
    background-image: url("file://{images}/custom_game/empty_slot_avatar.png");
    background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
