/* Topmost parent */
.BaseHud
{
    width: 100%;
    height: 100%;
    z-index: 100;
    visibility: collapse;
}

/* -------------------------------------- */
/* ------------- Background ------------- */
/* -------------------------------------- */
#Background
{
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 0.5s linear 0s;
}

#BackgroundTopLeft
{
    align: left top;
    width: 150px;
    height: 50px;
    background-color: black;
    opacity: 0.95;
}

#BackgroundTopLeft:Hover
{
    opacity: 0;
}

#BackgroundTopRight
{
    background-color: black;
    width: 100%;
    margin-left: 150px;
    height: 50px;
}

#BackgroundMain
{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    background-color: black;
}