/* Topmost parent */
.BaseHud
{
    width: 100%;
    height: 100%;
    visibility: collapse;
}

#PostgameRoot
{
    width: 960px;
    align: middle top;
    margin-top: 100px;
    transition: opacity 0.5s linear 0s;
}

 /* ---- Title ---- */

#TitleContainer
{
    align: middle top;
    width: 480px;
    height: 140px;
    z-index: 2;
    background-image: url('file://{images}/transition_screens/title_image_border.png');
    background-size: 480px 105px;
    background-repeat: no-repeat;
}

#TitleBG
{
    background-image: url('file://{images}/backgrounds/irongrip.png');
    background-position: left 10px top 0px;
    background-size: auto;
    background-repeat: repeat;
    z-index: -1;
    align: left top;
    height: 105px;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    brightness: 0.5;
}

#TitleContent
{
    width: 100%;
    height: 100%;
    z-index: 1;
}

#TitleLabel
{
    font-size: 48px;
    text-align: center;
    width: 100%;
    align: middle middle;
    z-index: 1;
    color: #EEEEEE;
    text-shadow: 0px 0px 4.0 12px #444444;
    font-family: Radiance;
    font-weight: bold;
}


#TitleImage
{
    width: 400px;
    height: 100px;
    align: center center;
    background-size: 100% 100%;
}

/* ---- Main ---- */
#MainContainer
{
    width: 960px;
    z-index: 1;
    flow-children: none;
    margin-top: 100px;
    background-image: url('file://{images}/transition_screens/game_transition_border_large.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 40px;
}

#MainContainerContent
{
    flow-children: down;
    z-index: 1;
    width: 100%;
}

#MainContainerBG
{
    width: 100%;
    height: 100%;
    /* This is the amount the border is larger than the background */
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-image: url('file://{images}/backgrounds/irongrip.png');
    background-repeat: repeat;
    background-size: auto;
    brightness: 0.5;
    z-index: -1;
}

.HRule
{
    width: 80%;
    border: 1px solid white;
    height: 1px;
    align: middle middle;
}

#ResultRow
{
    margin-top: 45px;
    width: 100%;
    margin-bottom: 5px;
}

#ResultText
{
    padding: 14px;
    font-size: 36px;
    color: #EEEEEE;
    text-shadow: 0px 0px 4.0 12px #444444;
    font-family: Radiance;
    font-weight: bold;
    text-align: center;
    align: middle middle;
}

#RankingRow
{
    margin-top: 0px;
    width: 100%;
    margin-bottom: 20px;
    flow-children: down;
}

#RankingTitle
{
    padding: 14px;
    font-size: 28px;
    color: #EEEEEE;
    text-shadow: 0px 0px 4.0 12px #444444;
    font-family: Radiance;
    font-weight: bold;
    text-align: center;
    align: middle middle;
}



/* ---- Up Next ---- */

#UpNextRow
{
    margin-top: 10px;
    align: right top;
    padding: 4px;
    width: 480px;
    height: 140px;
    margin-right: -40px;
    pre-transform-scale2d: 0.75;

}

.FlavourText
{
    font-size: 28px;
    color: #EEEEEE;
    text-shadow: 0px 0px 4.0 12px #444444;
    font-family: Radiance;
    font-weight: bold;
}

#UpNextLabel
{
    margin-top: 30px;
    font-size: 48px;
    text-align: center;
    width: 100%;
    align: middle middle;
    color: #EEEEEE;
    text-shadow: 0px 0px 4.0 12px #444444;
    font-family: Radiance;
    font-weight: bold;
}

#UpNextImage
{
    width: 400px;
    height: 100px;
    align: center center;
    background-size: 100% 100%;
    margin-right: -20px;
    margin-bottom: -20px;
}


/* ---- Leaderboards ---- */

#RankingContainer
{
    width: 80%;
    align: middle top;
    flow-children: down;
    border: 2px solid #888888;
}

.LeaderboardRow
{
    flow-children: right;
    height: 34px;
    padding: 1px;
    margin: 2px;
    width: 100%;
}

.LeaderboardRow.Highlight
{
    flow-children: right;
    height: 34px;
    padding: 1px;
    margin: 2px;
    width: 100%;
    background-color: #CCCCFF22;
}

.LeaderboardHeaderRow
{
    flow-children: right;
    height: 30px;
    padding: 1px;
    margin: 2px;
    width: 102%;
    margin-left: -1%;
    margin-right: -1%;
    margin-top: -3px;
    padding-top: 3px;
    border: 1px solid #888888;
}

#Rank
{
    color: #EEEEEE;
    text-shadow: 0px 0px 4px 4.0 black;
    font-size: 18px;
    width: 10%;
    text-align: center;
    align: left middle;
}

#ScoreHeader
{
    width: 40%;
    color: #EEEEEE;
    text-align: center;
    text-shadow: 0px 0px 4px 4.0 black;
    font-size: 18px;
}

#PlayersContainer
{
    width: 60%;
    flow-children: right;
    color: #EEEEEE;
    text-shadow: 0px 0px 4px 4.0 black;
    font-size: 18px;
    text-align: center;
}

#Score
{
    color: #EEEEEE;
    text-shadow: 0px 0px 4px 4.0 black;
    font-size: 18px;
    width: 40%;
    text-align: center;
    align: right middle;
}

.LeaderboardPlayer
{
    width: 34px;
    height: 34px;
    margin-right: 6px;
}

.LeaderboardsJubJub
{
    font-size: 18px;
    height: 30px;
    align: middle middle;
    transform: rotateZ(90deg);
}

.LeaderboardsJubJubLabel
{
    text-align: center;
    color: white;
}

.LeaderboardHeader
{

}

#AvatarImage
{
    width: 100%;
    height: 100%;
    padding: 1px;
    border: 1px solid #AAAAAA;
}

#PlayerName
{
}
