.BaseHud
{
    width: 100%;
    height: 100%;
    visibility: collapse;
}

#PregameRoot
{
    width: 960px;
    align: middle top;
    margin-top: 100px;
    transition: opacity 0.5s linear 0s;
}

 
 /* ---- Title ---- */
#TitleContainer
{
    align: middle top;
    width: 480px;
    height: 140px;
    z-index: 2;
    background-image: url('file://{images}/transition_screens/title_image_border.png');
    background-size: 480px 105px;
    background-repeat: no-repeat;
}

#TitleBG
{
    background-image: url('file://{images}/backgrounds/irongrip.png');
    background-position: left 10px top 0px;
    background-size: auto;
    background-repeat: repeat;
    z-index: -1;
    align: left top;
    height: 105px;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    brightness: 0.5;
}

#TitleContent
{
    width: 100%;
    height: 100%;
    z-index: 1;
}

#TitleLabel
{
    font-size: 48px;
    text-align: center;
    width: 100%;
    align: middle middle;
    z-index: 1;
    color: #EEEEEE;
    text-shadow: 0px 0px 4.0 12px #444444;
    font-family: Radiance;
    font-weight: bold;
}

#TitleImage
{
    width: 400px;
    height: 100px;
    align: center center;
    background-size: 100% 100%;
}


/* ---- Main ---- */
#MainContainer
{
    width: 960px;
    z-index: 1;
    flow-children: none;
    margin-top: 100px;
    background-image: url('file://{images}/transition_screens/game_transition_border_small.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 40px;
}

.LargeBorder #MainContainer
{
    background-image: url('file://{images}/transition_screens/game_transition_border_large.png'), url('file://{images}/backgrounds/irongrip.png');
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%, auto;
}

#MainContainerContent
{
    flow-children: down;
    z-index: 1;
    width: 100%;
}

#MainContainerBG
{
    width: 100%;
    height: 100%;
    /* This is the amount the border is larger than the background */
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-image: url('file://{images}/backgrounds/irongrip.png');
    background-repeat: repeat;
    background-size: auto;
    z-index: -1;
    brightness: 0.5;
}

#DescriptionRow
{
    margin-top: 60px;
    width: 100%;
    margin-bottom: 40px;
}

#DescriptionText
{
    padding: 14px;
    font-size: 28px;
    color: #EEEEEE;
    text-shadow: 0px 0px 4.0 12px #444444;
    font-family: Radiance;
    font-weight: bold;
}

#ImageRow
{
    margin-bottom: 40px;
    margin-top: -40px;
    flow-children: right;
    width: 100%;
    visibility: collapse;
}

.DescriptionImage
{
    width: 288px;
    height: 192px;
    margin: 16px;
    background-color: #222222;
    border: 2px solid #224488;
    z-index: 2;
    background-size: 100% 100%;
}

.DescriptionImageText
{
    align: middle bottom;
    width: 100%;
    padding: 8px;
    font-size: 18px;
    color: #BBBBFF;
    text-shadow: 0px 0px 4.0 12px #444444;
    font-family: Radiance;
    font-weight: bold;
}

#ChoiceRow
{
    margin-bottom: 40px;
    margin-top: -40px;
    width: 100%;
    flow-children: down;
    visibility: collapse;
}

#ChoiceHRule
{
    width: 80%;
    border: 1px solid white;
    height: 1px;
    align: middle middle;
}

.ChoiceContainer
{
    width: 180px;
    height: 200px;
}

#ChoiceContainerRow
{
    flow-children: right;
    align: middle middle;
    margin-right: 10%;
    width: fit-children;
}

#ChoiceFlavour
{
    padding: 14px;
    font-size: 28px;
}

.ChoiceContainer:Hover #ChoiceImage
{
    brightness: 2;
}

#ChoiceImage
{
    width: 160px;
    height: 160px;
    padding: 10px;
    border: 1px solid #CCCCCC;
    background-color: #222222;
    margin: 10px;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    align: middle top;
    transition: brightness 0.25s linear 0s;
}

#ChoiceText
{
    align: middle bottom;
    font-size: 18px;
    color: #DDDDFF;
    text-shadow: 0px 0px 4.0 12px #444444;
    font-family: Radiance;
    font-weight: bold;

}

.ChoiceContainer.Active #ChoiceImage
{
    brightness: 3;
    border: 1px solid #FFFFFF;
    wash-color: #8888FF88;
}


 /* ---- Bottom/Timer ---- */
#CountdownContainer
{
    align: right bottom;
    width: 125px;
    height: 100px;
    z-index: 2;

    background-image: url('file://{images}/transition_screens/countdown_border.png');
    background-repeat: no-repeat;
    background-size: 125px 40px;
    background-position: left bottom;

}

.FlavourText
{
    font-size: 24px;
    color: #EEEEEE;
    text-shadow: 0px 0px 4.0 12px #444444;
    font-family: Radiance;
    font-weight: bold;
}

#CountdownFlavour
{
    align: left top;
    padding: 4px;
}

#CountdownTimer
{
    align: middle bottom;
    margin-left: 12px;
    padding: 4px;
    margin-bottom: -8px;
    font-size: 48px;
    color: #EEEEEE;
    text-shadow: 0px 0px 4.0 12px #444444;
    font-family: Radiance;
    font-weight: bold;
}

#CountdownBG
{
    width: 115px;
    align: middle middle;
    height: 92px;
    z-index: -1;
    background-image: url('file://{images}/backgrounds/irongrip.png');
    background-size: auto;
    background-repeat: repeat;
    background-position: left 4px top 0px;
    brightness: 0.5;
}

#CountdownContent
{
    width: 100%;
    height: 100%;
    z-index: 1;
}