/* Topmost parent */
.BaseHud
{
    width: 100%;
    height: 100%;
    z-index: 100;
}

/* -------------------------------------- */
/* ------------- Title Area ------------- */
/* -------------------------------------- */
#TitleArea
{
    align: middle top;
    margin-top: 100px;
    height: 200px;
    flow-children: down;
    width: 100%;
}

#Title
{
    align: middle top;
    font-size: 48px;
    color: #EEEEEE;
    text-shadow: 0px 0px 4.0 12px #444444;
    font-family: Radiance;
    font-weight: bold;
    transform: translatex(3000px);
    transition: transform 0.33s linear 0.5s;
    visibility: collapse;
}

#Subtitle
{
    align: middle top;
    font-size: 36px;
    color: #EEEEEE;
    text-shadow: 0px 0px 4.0 12px #444444;
    font-family: Radiance;
    font-weight: bold;
    transform: translatex(3000px);
    transition: transform 0.33s linear 1s;
    visibility: visible;
}

/* -------------------------------------- */
/* -------------- Game Area ------------- */
/* -------------------------------------- */
#GamesArea
{
    align: middle top;
    margin-top: 300px;
    flow-children: down;
    width: 100%;
}

.GamesRow
{
    width: 100%;
}

.GamePreview
{
    width: 20%;
    height: width-percentage(66%);
    transform: translatex(3000px);
}

#GamePreviewBackground
{
    width: 90%;
    height: 90%;
    align: middle middle;
    border: 2px solid #BBBBBB;
    background-color: #444444;
    z-index: 1;
    transition: box-shadow 0.25s linear 0s;
}

.Won #GamePreviewBackground
{
    box-shadow: #44CC44 0px 0px 12px 0px;
    wash-color: #44CC4488;
}

.Won #GamePreviewBackground:Hover
{
    box-shadow: #66FF66 0px 0px 24px 0px;
    wash-color: #66FF6688;
}

.Lost #GamePreviewBackground
{
    box-shadow: #CC4444 0px 0px 12px 0px;
    wash-color: #CC444488;
}

.Lost #GamePreviewBackground:Hover
{
    box-shadow: #FF6666 0px 0px 24px 0px;
    wash-color: #FF666688;
}

#GameNameLabel
{
    width: 80%;
    align: center center;
    text-align: center;
    color: #EEEEEE;
    font-size: 24px;
    z-index: 2;
}

#GameNameImage
{
    width: 400px;
    height: 100px;
    align: center center;
    background-size: 100% 100%;
    z-index: 3;
    transform: scale3d(0.75, 0.75, 1);
}

/* -------------------------------------- */
/* ------------- Flavourtown ------------ */
/* -------------------------------------- */

#FlavourArea
{
    align: middle top;
    width: 100%;
    margin-top: 800px;
    height: 100px;
}

#FlavourText
{
    transform: translatex(3000px);
    transition: transform 0.33s linear 0s;
    color: #EEEEEE;
    align: middle middle;
    text-align: center;
    font-size: 24px;
}