.BaseHud
{
    width: 100%;
    height: 100%;
}

.TopNotifications
{
    width: 100%;
    height: 100%;
    flow-children: down;
}

.BottomNotifications
{
    width: 100%;
    height: 100%;
    flow-children: down;
}

.NotificationLine
{
    margin-top: 15px;
    flow-children: right;
    horizontal-align: right;
    margin-right: 20px;
    vertical-align: middle;
    animation-name: scalein;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
}

#TopNotifications
{
    flow-children: down;
    horizontal-align: center;
    width:100%;
    opacity: 1;
    margin-top: 64px;
    visibility: visible;
    border: 0px solid blue;
}

#BottomNotifications
{
    flow-children: down;
    horizontal-align: right;
    vertical-align: bottom;
    width: 100%;
    opacity: 1;
    margin-bottom: 284px;
    margin-right: 20px;
    visibility: visible;
    border: 0px solid blue;
}

.NotificationMessage
{
    color: white;
    vertical-align: center;
    horizontal-align: center;
    font-family: Tahoma;
    text-shadow: 1px 1px 4px 3.0 #121212;
    font-size: 24px;
    text-align: center;
}

.HeroImage
{
    vertical-align: center;
    horizontal-align: center;
}

@keyframes 'scalein' {
  from {
    opacity:0;
    transform: scaleX(.75) scaleY(.75);
  }

  to {
    opacity:1;
    transform: scaleX(1) scaleY(1);
  }
}
