.AbilityOverlayRoot
{
    flow-children: right-wrap;
    max-width: 340px;
    max-height: 255px;
    padding-left: -2px;
    padding-right: -2px;
    align: middle top;
}

#abilities
{
	flow-children: right-wrap;
}

.AbilityPanel
{
	margin: 2px;
}

.AbilityPanel.no_ability
{
	visibility: collapse;
}

#ButtonAndLevel
{
	flow-children: down;
	height: 141px;
}

#AbilityButton
{
	width: 65px;
	height: 60px;
	border: 2px solid transparent;
}

.is_passive #AbilityButton
{
	border: 2px solid #00000000;
}

#AbilityButton:hover
{
	border: 1px solid #DDDDDD;
}

#AbilityButton:active
{
	border: 2px solid #DDDDDD;
}

.no_level DOTAAbilityImage
{
	saturation: 0;
	wash-color: #303030;
}

.insufficient_mana DOTAAbilityImage
{
	saturation: 0;
	wash-color: #1569be;
}

.potential_upgrade.no_level DOTAAbilityImage
{
	saturation: 1;
	wash-color: white;
}

#AbilityStatusBorder
{
	border: 2px solid transparent;
}

#AbilityLevelContainer
{
	horizontal-align: center;
	flow-children: right;
}

.LevelPanel
{
	width: 2px;
	height: 2px;
	margin-left: 1px;
	margin-right: 1px;

	border-radius: 3px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2e2716 ), to( #020302 ) );
	border: 2px solid #ffffff05;
}

.active_level.LevelPanel
{
	background-color: #ceaa31;
	border: 2px solid #734918;
}


