@define unlearnedWashColor: #666666;

.AbilityPanel
{
    visibility: visible;
    transition-property: width;
    transition-duration: 0s;
    transition-timing-function: ease-in-out;
    transition-timing-function: linear;
}

.Hidden
{
    visibility: collapse;
}

#HotkeyContainer
{
    align: left bottom;
    margin-bottom: 0px;
    margin-left: 3px;
}

#UpgradeOverlay
{
    background-image: url("s2r://panorama/images/hud/learnspell_png.vtex");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 2px;
}

#ActiveAbilityBorder
{
    background-image: url("s2r://panorama/images/hud/active_ability_border_png.vtex");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    margin: 2px;
}

.no_level #ActiveAbilityBorder:not(.show_level_up_frame)
{
    brightness: 0.2;
}

.is_passive #ActiveAbilityBorder
{
    opacity: 0.0;
}

#PassiveAbilityBorder
{
    background-image: url("s2r://panorama/images/hud/passive_ability_border_png.vtex");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    margin: 7px;
}

.is_passive #PassiveAbilityBorder
{
    opacity: 1.0;
}

.auto_castable #AutocastableAbilityBorder
{
    opacity: 1.0;
}

#SilencedOverlay
{
    background-image: url("s2r://panorama/images/hud/reborn/spells_silenced_psd.vtex");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 2px;
    pre-transform-scale2d: 1.2;
    
    transition-property: opacity, pre-transform-scale2d;
    transition-timing-function: ease-in-out;
    transition-duration: .22s;  
}

.silenced #SilencedOverlay
{
    opacity: 1.0;
    pre-transform-scale2d: 1;
}

#AbilityStatusOverlay
{
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
}

.auto_cast_enabled #AbilityStatusOverlay
{
    border: 2px solid orange;
}

.toggle_enabled #AbilityStatusOverlay
{
    border: 3px solid green;
    padding: -2px;
    width: 94%;
    height: 94%;
    align: center center;
}

.ability_phase #AbilityStatusOverlay
{
    border: 3px solid yellow;
    padding: -2px;
    width: 94%;
    height: 94%;
    align: center center;
}

#abilities #ButtonWithLevelUpTab
{
    height: 183px; 
    flow-children: none;
    vertical-align: bottom;
    height: fit-children;
}

.show_level_up_tab #ButtonWithLevelUpTab
{
    background-color: none;
}

#LevelUpTab
{
    width: 90%;
    height: 40px;
    horizontal-align: middle;

    margin-bottom: -4px;
    opacity: 0;
    
    tooltip-position: top;
    tooltip-body-position: 50% 50%;

    z-index: 2;
    transition-property: opacity, brightness;
    transition-timing-function: ease-in-out;
    transition-duration: .12s;  
}

.can_level #LevelUpTab
{
    visibility: visible;
    opacity: 1;
}

#tertiarySkillSpacer .can_level #LevelUpTab
{
    visibility: collapse;
    opacity: 0;
}

#LevelUpTopGlow
{
    width: 90%;
    height: 4px;
    margin-right: 4px;
    align: middle top;
}

.can_level #LevelUpTopGlow
{
    overflow: clip;
    animation-name: leveluptopglow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes 'leveluptopglow'
{
    0%
    {
        box-shadow: orange 0px 0px 4px 4px;
        width: 90%;
    }
    50%
    {
        box-shadow: orange 0px 0px 8px 6px;
        width: 80%;
    }
    100%
    {
        box-shadow: orange 0px 0px 4px 4px;
        width: 90%;
    }
}

#LevelUpButton
{
    width: 100%;
    height: 36px;

    background-image: url("s2r://panorama/images/hud/reborn/levelup_button_2_psd.vtex");
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    transition-property: opacity, brightness, pre-transform-scale2d;
    transition-timing-function: ease-in-out;
    transition-duration: .12s;  
    
    animation-name: leveluppulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    margin-bottom: -4px;
}

@keyframes 'leveluppulse'
{
    25%
    {
        brightness: 1;
    }
    50%
    {
        brightness: 1.2;
    }
    75%
    {
        brightness: 1;
    }
}


.AbilityLearnMode #LearnModeButton
{
    visibility: visible;
}

.AbilityLearnMode #LevelUpTab
{
    height: 156px;
}


#LevelUpTab:hover #LevelUpButton
{
    brightness: 1.4;
}

#LevelUpTab:active #LevelUpButton
{
    pre-transform-scale2d: .9;
}

@keyframes 'pulsate'
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}


#LevelUpIcon
{
    horizontal-align: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-image: url("s2r://panorama/images/hud/reborn/levelup_plus_well_psd.vtex");
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition-property: background-image;
    transition-duration: .12s;

    animation-name: levelupiconglow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes 'levelupiconglow'
{
    25% {brightness: 1;}
    50% {brightness: 2;}
    75% {brightness: 1;}
}

#LevelUpTab:hover #LevelUpIcon
{
    background-image: url("s2r://panorama/images/hud/reborn/levelup_plus_fill_psd.vtex");
    brightness: 1;
}

.show_level_up_tab #LevelUpTab
{
    opacity: 1;
}

#AbilityButton
{
    width: 100%;
    height: 100%;
    
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #00000000 ) );   
    transition-property: pre-transform-scale2d, brightness, saturation, background-color, opacity;
    transition-duration: .06s, .1s;
    transition-timing-function: ease-out;
    
}

#AbilityButton:hover
{
    brightness: 1.6;
}

#AbilityButton:active
{
    
}

#AbilityImage
{
    width: 100%;
    height: 100%;
    z-index: -1;
    margin: 9px;
    
    transition-property: pre-transform-scale2d;
    transition-duration: .12s;
    transition-timing-function: ease-in;        
}

.no_level:not(.show_level_up_frame) #AbilityImage
{
    saturation: 0;
    wash-color: unlearnedWashColor;
}

.insufficient_mana #AbilityImage
{
    saturation: 0;
    wash-color: #1569be;
    contrast: .7;
}

.potential_upgrade.no_level #AbilityImage
{
    saturation: 1;
    wash-color: white;
}

#Cooldown
{
    width: 100%;
    height: 100%;
    visibility: collapse;
    margin: 5px;
}

.in_cooldown #Cooldown
{
    visibility: visible;
}

.ability_phase #Cooldown
{
    visibility: visible;
}

.ability_phase #CooldownTimer
{
    visibility: collapse;
}

#CooldownOverlay
{
    width: 100%;
    height: 100%;
    background-color: #000000DD;
    transition: height 1s linear 0s, width 1s linear 0s;
}

.Reborn .ability_phase #CooldownOverlay
{
    wash-color: #00dd00;
    background-color: #00FF0066;
}

#InactiveOverlay
{
    width: 100%;
    height: 100%;
    background-color: black;
    visibility: collapse;
    opacity: 0.1;
}

#CooldownTimer
{
    color: white;
    font-size: 28px;
    text-shadow: 0px 0px 6px 6 #000000;
    width: 100%;
    text-align: center;
    vertical-align: center;
    text-overflow: shrink;
}

#AbilityCharges
{
    vertical-align: bottom;
    horizontal-align: left;
    margin-bottom: 2px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #666 ), to( black ) );
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    padding-top: 3px;
    z-index: 2;
    text-overflow: shrink;
    box-shadow: fill 2px 2px 4px black;
    color: #fff;
    visibility: collapse;
}

.show_ability_charges #AbilityCharges
{
    visibility: visible;
}

#ActiveAbility
{
    width: 100%;
    height: 100%;
    background-color: gradient( radial, 50% -20%, 0% 0%, 80% 80%, from( #FFFFFF08 ), to( #FFFFFF08 ) );
    border: 4px solid #FFFFFF40;
    opacity: 0;
}

.is_active #ActiveAbility
{
    opacity: 1;
}

#ManaCost
{
    color: #c0e8fb;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 0px 3px 3.0 #000000;
    margin-right: 7px;
    margin-bottom: 6px;

    vertical-align: bottom;
    horizontal-align: right;
}

#ManaCostBG
{
    width: 37px;
    height: 22px;
    margin-right: -1px;
    margin-bottom: 0px;

    vertical-align: bottom;
    horizontal-align: right;

    background-image: url("s2r://panorama/images/hud/manaamount_bg_png.vtex");
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.no_mana_cost #ManaCost,
.no_mana_cost #ManaCostBG
{
    visibility: collapse;
}

#abilities #HotkeyContainer
{
    margin-bottom: 0px;
    margin-left: 0px;
    border: 0px solid white;
    z-index: 5;
    align: left bottom;
}

.no_hotkey #HotkeyContainer
{
    visibility: collapse;
}

#Hotkey
{
    margin-left: -4px;
    z-index: 16;
    border-radius: 20%;

    vertical-align: top;
    horizontal-align: left;
    min-width: 14px;
    min-height: 14px;
    max-width: 70px;
    max-height: 15px;
    white-space: nowrap;

    background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939 ), to( #414849 ) );
    border: 1px solid #ffffff05;
    box-shadow: fill black 1px 1px 2px 2px;

}

#HotkeyText
{
    color: #bba995;
    text-shadow: 1px 1px 0px 2 #000000;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    horizontal-align: center;
    margin: 0px 0px -2px 0px;

    font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
}

#HotkeyModifier
{
    margin-left: -4px;
    margin-top: 20px;
    z-index: 16;
    vertical-align: top;
    horizontal-align: left;
    min-width: 18px;
    flow-children: down;

    background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939 ), to( #414849 ) );
    border: 1px solid #ffffff05;
    box-shadow: fill black 1px 1px 2px 2px;

    visibility: collapse;
}

.hotkey_alt #HotkeyModifier
{
    visibility: visible;
}

#AltText
{
    color: #bba995;
    text-shadow: 1px 1px 2px 2 #000000;
    font-size: 8px;
    font-weight: normal;
    text-align: center;
    width: 100%;
    margin: 0px -2px -2px -1px;
    visibility: visible;
}

#HotkeyCtrlModifier
{
    margin-left: 0px;
    margin-top: 0px;
    z-index: 15;
    vertical-align: top;
    horizontal-align: left;
    min-width: 31px;

    background-color: #212726;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: fill #000000dd 0px 0px 2px 2px;

    visibility: collapse;
}

.hotkey_ctrl #HotkeyCtrlModifier
{
    visibility: visible;
}

.QueryUnit .hotkey_ctrl #HotkeyCtrlModifier
{
    visibility: collapse;
}

.LowVisualQuality #HotkeyCtrlModifier
{
    border-radius: 0px;
}

#CtrlText
{
    color: white;
    text-shadow: 1px 1px 2px 2 #000000;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    width: 100%;
    margin: 0px -2px -2px -1px;
    visibility: visible;
}

.no_level:not(.show_level_up_tab) #HotKey,
.no_level:not(.show_level_up_tab) #HotKeyModifier
{
    visibility: collapse;
}

#ShineContainer
{
    width: 100%;
    height: 100%;
    margin: 5px;
}

#Shine
{
    background-color: gradient( linear, 100% 0%, 0% 100%, from( #00000000 ), color-stop( 0.3, #00000000 ), color-stop( 0.45, #ffffffff ), color-stop( 0.55, #ffffffff ), color-stop( 0.7, #00000000 ), to( #00000000 ) );
    background-size: 100% 100%;
    width: 100%;
    height: 100%;

    opacity: 0.00001;
    animation-name: none; 
    animation-duration: 0.4s;   
    animation-timing-function: ease-in-out;
}

#Shine.do_shine
{
    animation-name: shine-sweep; 
    animation-duration: 0.4s;
}

@keyframes 'shine-sweep'
{
    0%
    {
        transform: translateX(-32px) translateY(32px);
        opacity: 1.0;
    }

    100%
    {
        transform: translateX(32px) translateY(-32px);
        opacity: 1.0;
    }
}


.dragging_from #DropTargetHighlight
{
    visibility: collapse;
}

#DropTargetHighlight
{
    margin-top: 1px;
    margin-left: 1px;
    width: 100%;
    height: 100%;
    background-color: gradient( radial, 50% -20%, 0% 0%, 80% 100%, from( #FFFFFF66 ), to( #FFFFFF00 ) );
    opacity: 0;
}

//----------------------------------------------------------------------
// Reborn HUD

.Reborn #ActiveAbilityBorder
{
    background-image: url("s2r://panorama/images/hud/reborn/active_ability_border_psd.vtex");
    margin: 0px;
    visibility: collapse;
}

.Reborn .auto_castable #AutocastableAbilityBorder
{
    background-image: url("s2r://panorama/images/hud/reborn/autocastable_ability_border_psd.vtex");
    opacity: 0;
}

.Reborn .auto_cast_enabled #AutocastableBorder
{
    width: 100%;
    height: 100%;
    opacity: 1.0;   
    margin: 3px;
    margin-left: 4px;
    margin-bottom: 4px;
    animation-name: auto_cast_glow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes 'auto_cast_glow'
{
    0%  
    {
        box-shadow: inset orange 0px 0px 2px 2px;
    }
    50% 
    {
        box-shadow: inset orange 0px 0px 0px 0px;
    }
    100%
    {
        box-shadow: inset orange 0px 0px 2px 2px;
    }

}



.Reborn #PassiveAbilityBorder
{
//  visibility: collapse;
}

.Reborn #abilities #AbilityImage,
.Reborn #abilities #Cooldown
{
    margin: 7px;
    //margin: 0px;
}

.Reborn #ButtonSize
{
    width: 64px;
    height: 64px;
    horizontal-align: center;
    vertical-align: middle;
}

.auto_castable #ButtonSize
{
    width: 64px;
    height: 64px;
}

.AspectRatio16x10 .auto_castable #ButtonSize
{
    margin-right: 1px;
    margin-bottom: 1px;
}


//====================================================================================================


.HeroStatValue
{
    visibility: collapse;
    vertical-align: bottom;
    font-size: 12px;
    font-weight: thin;
    margin-left: 6px;
    margin-bottom: 2px;
    color: #00dd00;
}

.Reborn #AutoCastingContainer
{
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .12s;
    transition-timing-function: ease-in-out;
}

.Reborn .auto_cast_enabled #AutoCastingContainer
{
    opacity: 1;
}

#AutoCasting
{
    width: 100%;
    height: 100%;
}

.Reborn .auto_cast_enabled #AbilityStatusOverlay
{
    border: 0px solid transparent;
}

#AbilityBevel
{
    visibility: collapse;
}

.Reborn #AbilityBevel
{
    width: 100%;
    height: 100%;   
    margin: 5px;
    background-image: url("s2r://panorama/images/hud/reborn/ability_bevel_psd.vtex");   
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 1;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00FF0000 ), to( #00FF0000 ) );   
    visibility: visible;    
    
    transition-property: brightness, background-color;
    transition-duration: .12s;
    transition-timing-function: ease-in;    
}

.Reborn .ability_phase #AbilityStatusOverlay
{
    border: 0px solid transparent;
}

.Reborn .no_level:not(.show_level_up_frame) #AbilityBevel
{
    wash-color: #000000bb;
}

.Reborn .QueryUnit .no_level:not(.show_level_up_frame) #AbilityBevel
{
    wash-color: #00000000;
}


.Reborn .is_active #AbilityBevel
{
    brightness: 6;
    transition-timing-function: ease-out;   
}


.Reborn .insufficient_mana #AbilityBevel
{
    wash-color: #6095FD;
    transition-timing-function: ease-out;   
}

.Reborn .is_active #ActiveAbility
{
    border: 0px solid transparent;
    background-color: none;
    
    
}

.Reborn .is_passive #AbilityBevel
{
    transform: rotateZ(180deg);
    wash-color: #00000088;
}

.Reborn .QueryUnit .is_passive #AbilityBevel
{
    transform: rotateZ(0deg);
    wash-color: #00000000;
}


.Reborn #ButtonWell
{
    width: 64px;
    height: 64px;   
    vertical-align: top;
    margin-top: 38px;
    background-image: url("s2r://panorama/images/hud/reborn/active_ability_border_psd.vtex");   
    background-size: 58px 58px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 0;
}

.Reborn .is_passive #ButtonWell
{
    background-size: 18px 18px;
}

.Reborn #QueryUnit #ButtonWell,
{
    width: fit-children;
    height: fit-children;   
    background-size: 0px;
}

.Reborn #QueryUnit #abilities #ButtonWell
{
    width: fit-children;
    height: fit-children;   
}

.Reborn #QueryUnit #abilities #AbilityBevel
{
    visibility: visible;
    margin: 0px;
    background-image: url("s2r://panorama/images/hud/reborn/query_ability_bevel_psd.vtex"); 
    background-size: 100%;

}

.Reborn #CooldownOverlay
{
    background-color: #000000dc;
}

.Reborn #AbilityLevelContainer
{
    flow-children: right-wrap;
    vertical-align: bottom;
    margin-bottom: 1px;
    max-width: 64px;
    height: 12px;
    horizontal-align: center;
}

#tertiarySkillSpacer #AbilityLevelContainer
{
    visibility: collapse;
}

.Reborn .level_secret #AbilityLevelContainer
{
    visibility: collapse;
}

.Reborn .QueryUnit #AbilityLevelContainer
{
    width: fit-children;
    margin-bottom: 0px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #000000ff ) );
    horizontal-align: center;
}

#QueryLevelGradient
{
    width: 100%;
    height: 16px;
    vertical-align: bottom;
    background-color: gradient( linear, 0% 0%, 0% 80%, from( #00000000 ), to( #000000ff ) );
    visibility: collapse;
}

.Reborn .QueryUnit #abilities #QueryLevelGradient
{
    visibility: visible;
}

.Reborn .QueryUnit #abilities .enemy #QueryLevelGradient
{
    visibility: collapse;
}

.Reborn #ButtonAndLevel
{
    //background-color: black;
    z-index: 1;
}

.Reborn .LevelPanel
{
    width: 6px;
    height: 3px;
    margin: 1px 0px 0px 1px;
    border-radius: 1px;

    background-image: none;
    background-size: 100% 100%;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111ff ), to( #000000ff ) );
}

.Reborn .AbilityMaxLevel7 .LevelPanel
{
    width: 5px;
    height: 5px;
    margin: 1.5px;
}

.Reborn .active_level.LevelPanel
{
    background-image: none;
    background-size: 100% 100%;
    background-position: 50% 50%;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #E7D291 ), to( #887845 ) );
    border-radius: 0px;
}

.Reborn .could_level_up .next_level.LevelPanel
{
    background-image: none;
    border: 1px solid #dbb43466;
    border-radius: 0px;
    box-shadow: fill #E0C24E44 -1px -1px 2px 2px;
}

.Reborn .QueryUnit .could_level_up .next_level.LevelPanel
{
    background-image: none;
    border: 1px solid #00000000;
    border-radius: 0px;
    box-shadow: fill #00000000 0px 0px 0px 0px;
    //height: 6px;
}

.Reborn #Hotkey
{
    margin-left: 6px;
    margin-top: 0px;
    background-color: #212726;
    border-radius: 0px;
    border: 0px;
    box-shadow: fill #000000dd 0px 0px 2px 2px;
    border-radius: 4px;
    border: 1px solid black;
    vertical-align: bottom;
    margin-bottom: 8px;
}

.LowVisualQuality #Hotkey
{
    border-radius: 0px;
}

.hotkey_ctrl #Hotkey
{
    margin-left: 31px;
}

.no_hotkey #Hotkey,
.no_hotkey #HotkeyModifier
{
    visibility: collapse;
}

.Reborn #HotkeyModifier
{
    margin-left: 0px;
    margin-top: 14px;
    background-color: #212726;
    box-shadow: fill #000000dd 0px 0px 2px 2px;
    border-radius: 2px;
    border: 1px solid black;
}

.hotkey_ctrl.hotkey_alt #HotkeyModifier
{
    min-width: 22px;
}

.Reborn #HotkeyText
{
    color: white;
}

.Reborn #AltText
{
    color: white;
}

.Reborn .hotkey_ctrl.hotkey_alt #AltText
{
    font-size: 11px;
}

.Reborn #ManaCostBG
{
    background-image: url("s2r://panorama/images/hud/reborn/manaamount_bg_png.vtex");
    margin-right: -2px;
    margin-bottom: -1px;
}

.Reborn #ManaCost
{
    color: #57b7ff;
    font-size: 14px;
    font-weight: thin;
    font-weight: normal;
    margin-right: 8px;
    margin-bottom: 4px;
    font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
}


.Reborn #GoldCost
{
    margin-left: 0px;
    margin-bottom: -1px;
}

.Reborn #GoldCostBG
{
    margin-left: 0px;
    margin-bottom: -8px;
}

//----------------------------------------------------------------------
// Reborn Query Unit

.Reborn .QueryUnit #ButtonSize
{
    width: 64px;
    height: 64px;
    
    width: 39px;
    height: 39px;
}


.Reborn .QueryUnit .AbilityPanel
{
    vertical-align: bottom;
}

.Reborn .QueryUnit #abilities .AbilityPanel
{
    box-shadow: fill #000000 -1.5px -1.5px 3px 3px;
}
    

.Reborn .QueryUnit #abilities #AbilityImage,
.Reborn .QueryUnit #abilities #Cooldown
{
    margin: 0px;
}

.Reborn .QueryUnit #Hotkey,
.Reborn .QueryUnit #HotkeyModifier,
.Reborn .QueryUnit #ManaCost,
.Reborn .QueryUnit #ManaCostBG,
.Reborn .QueryUnit #GoldCost,
.Reborn .QueryUnit #GoldCostBG,
.Reborn .QueryUnit #ActiveAbilityBorder,
.Reborn .QueryUnit #PassiveAbilityBorder,
.Reborn .QueryUnit #SilencedOverlay,
.Reborn .QueryUnit #CombineLockedOverlay,
.Reborn .QueryUnit #AbilityStatusOverlay
{
    visibility: collapse;
}

.Reborn .QueryUnit  .level_secret.no_level:not(.show_level_up_frame) #AbilityImage
{
    saturation: 1.0;
    wash-color: unlearnedWashColor;
    brightness: 1.2;
}

.Reborn .QueryUnit .enemy.level_secret.no_level:not(.show_level_up_frame) #AbilityImage
{
    saturation: 0.3;
    brightness: 2.2;
}

.Reborn .QueryUnit.IsNeutral .enemy.level_secret.no_level:not(.show_level_up_frame) #AbilityImage
{
    saturation: 1;
    brightness: 1;
    wash-color: none;
}

.Reborn .QueryUnit .LevelPanel
{
    width: 7px;
    height: 3px;
    margin: 1px;
    margin-left: 1.5px;
    margin-right: 1.5px;
    border-radius: 0px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #363636ff ), to( #3e3e3eff ) );
}

.Reborn .QueryUnit .active_level.LevelPanel
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #E7D291 ), to( #887845 ) );
}
.Reborn .QueryUnit.FiveQueryAbilities .LevelPanel
{
    width: 7px;
    height: 3px;
    margin-left: 1.5px;
    margin-right: 1.5px;
}

.Reborn .QueryUnit #abilities #CooldownTimer
{
    margin-top: 6px;
}

.Reborn .QueryUnit .enemy #AbilityImage
{
    saturation: 0;
}

.QueryUnit #LevelUpTab
{
    visibility: collapse;
}


#AbilityNameLabel
{
    color: white;
    text-shadow: 0px 0px 2px 4.0 black;
    max-width: 60px;
    align: middle middle;
    text-align: center;
    font-size: 12px;
}

#AbilityNameContainer
{
    align: middle bottom;
    margin-top: -15px;
    height: 40px;
    width: 60px;
    background-image: url("file://{images}/bottom_panel/fantasy_abilityname_bg.png");
    background-size: 100% 100%;
}
